/* Font */
body {
  font-family: "Poppins", sans-serif;
}


/* Slider */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-wrapper {
  animation: scroll-left 25s linear infinite;
  display: flex;
  width: max-content;
}

.paused {
  animation-play-state: paused !important;
}


/* Hide scrollbar */
#card-slider::-webkit-scrollbar {
  display: none;
}

#card-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Container perspective for 3D effect */
  .perspective {
    perspective: 1000px;
  }
  /* Flip the card when the container has 'hover' */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  /* Inner wrapper with transition and 3D transform */
  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
  }
  /* Front and back faces */
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5rem; /* rounded-lg */
  }
  /* Back face rotated */
  .flip-card-back {
    transform: rotateY(180deg);
  }
